<!DOCTYPE html>
<html lnag="ko">

<head>
    <meta charset="UTF-8">
    <title>멋사마켓 로그인</title>
    <link rel="stylesheet" href="style/login-style.css">
</head>

<body>
<div class="main">
    <!--웹페이지 상단-->
    <header>
        <!-- 1. 로고 -->
        <img class="logo" src="../images/logo-2.png">
    </header>

    <!-- 2. 로그인 부분 -->
    <section class="login-wrap">

        <div class="login-id-wrap">
            <input id="input-id" placeholder="아이디" type="text"></input>
        </div>
        <div class="login-pw-wrap">
            <input id="input-pw" placeholder="비밀번호" type="password"></input>
        </div>
        <div class="login-btn-wrap">
            <button id="login-btn">로그인</button>
        </div>

    </section>

    <!-- 3. 회원가입 부분 -->
    <section class="signup-wrap">
        <span class="sign-up">
            <a href="./register-form.html" target="_blank"
               title="회원가입">회원가입</a>
        </span>
    </section>

    <!--저작권 정보-->
    <footer>
        <div class="copyright-wrap">
            <span> Copyright © Mutsa Market Corp. All Rights Reserved.</span>
        </div>
    </footer>

</div>

</body>

</html>