<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멋사마켓 회원가입</title>
<!--    <link rel="icon" href="../images/logo-1.png">-->
    <link rel="stylesheet" href="register-style.css">
</head>
<body>
<div class="member">
    <!-- 1. 로고 -->
    <img class="logo" src="../images/logo-2.png">

    <!-- 2. 필드 -->
    <div class="field">
        <b>아이디</b>
        <span class="placehold-text"><input type="text"></span>
    </div>
    <div class="field">
        <b>비밀번호</b>
        <input class="userpw" type="password">
    </div>
    <div class="field">
        <b>비밀번호 재확인</b>
        <input class="userpw-confirm" type="password">
    </div>

    <!-- 5. 이메일_전화번호 -->
    <div class="field">
        <b>이메일<small>(선택)</small></b>
        <input type="email" placeholder="abc@gmail.com">
    </div>

    <div class="field tel-number">
        <b>휴대전화<small>(선택)</small></b>
        <select>
            <option value="">대한민국 +82</option>
        </select>
        <div>
            <input type="tel" placeholder="010-1234-5678">
        </div>
    </div>

    <!-- 6. 가입하기 버튼 -->
    <input type="submit" value="가입하기">

    <!-- 7. 푸터 -->
    <div class="member-footer">
        <span><a href="#none">Mutsa Market Corp.</a></span>
    </div>
</div>
</body>
</html>